body{
    font-family: 'Nunito Sans', sans-serif !important;
}

 /* nav */
.naviagtion-bar{
    /* background-color: #f4f6f8; */
    background-color: #3a3973;
}

.navbar-light .navbar-brand {
    line-height: 40px;
    color: rgba(255, 255, 255, 0.7) !important;
}
.nav-link .navbar-nav .nav-link a{
    transition: 0.5s ease;
}

a.nav-link{
    border-bottom: 2px solid #3a3973;
    color: rgba(255, 255, 255, 0.7) !important;
    FONT-WEIGHT: 600;
    line-height: 40px;
}
a.nav-link:hover{
    border-bottom: 2px solid white;
    color: white !important;
}
